/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/




.App{
  margin: -16px -8px 0 -8px;
}
.nav{
  width: 100%;
  border-bottom: 1px solid gray;
  height: 50px;
  background: linear-gradient(to right, #30d5c8, #cead78);
}
.footer {
  width: 100%;
  border-top: 1px solid gray;
  background-color: white;
}
/*.H {
  text-align: center;
  font-size: 24px;
}*/
.H-center{
  font-size: 24px;
  border-bottom: 1px solid gray;
  width: 200px;
  margin: auto;
  padding: 10px;
  margin-bottom: 10px;
}
.center {
  box-shadow: 5px 10px 20px rgba(0,0,0,0.5);
  border-radius: 20px;
  width: 300px;
  margin: auto;
  background-color: #30d5c8;
  text-align: center;
  padding: 10px;
}
.followers{
  display: inline-block;
  width: 150px;
  height: 50px;
}
.following{
  display: inline-block;
  width: 150px;
}

.footer-image{
  margin-top: 7%;
}
.foot-block{
  float: right;
  color: gray;
  font-size: 13px;
  width: 30%;
}
.main-butt{
  width: 300px;
  background-color: white;
  padding: 10px;
  border-radius: 0 0 20px 20px;
  margin-left: -10px; 
  margin-bottom: -10px;
}
.butt{
  background-color: transparent;
  width: 40px;
}
